{% extends "base.html" %}

{% block title %}
    Your cart
{% endblock %}

{% block body %}
    <h1 style="padding-left:15%">Your cart</h1>

    <h2>Dishes in your cart:</h2>
    <ul class="nobull">
    {% for dish in dishes %}
        <li>
            <form action="{% url 'cart' %}" method="post">
                {% csrf_token %}
                <button type="submit" name="delete" value="{{ dish.id }}">x</button>
                <b>({{ dish.price}} $)</b> {{ dish.size }} {{ dish.kind|title }}
                {% if dish.toppings_list|length %}
                    with {{ dish.toppings_list }}
                {% endif %}
            </form>
        </li>
    {% empty %}
        <li>Currently empty.</li>
    {% endfor %}
    </ul>

    {% if overall_price > 0 %}
        <h2>Overall price: {{ overall_price|floatformat:2 }} $</h2>

        <form action="{% url 'place_order' %}" method="post">{% csrf_token %}
            <button type="submit" name="order" value="True">Place order</button>
        </form> 
    {% endif %}

{% endblock %}
