{% extends "orders/base.html" %}

{% block title %}
    Menu 
{% endblock %}

{% block body %}
    <h1 style="padding-left:15%">Menu</h1>

    {% for table in kinds %}
        <h2>{{ table|title }}</h2>
        <table class="mytable">
            <tr>
                <th></th>
                {% for column in table.size_list.all %}
                    <th>{{ column.size }}</th>
                {% endfor %}
            </tr>
            {% for row in table.name_list.all %}
                <tr>
                    <th>{{ row.name }}</th>
                    {% for column in table.size_list.all %}
                        {% with item=row.item_list.all|get_size:column.id %}
                            <td>
                                {% if item != "" %}
                                    <a href="{% url 'item_info' item.id %}">
                                        {{ item.price }}
                                    </a>
                                {% endif %}
                            </td>
                        {% endwith %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

    <h2>Toppings</h2>
    <ul>
    {% for topping in toppings %}
        <li>{{ topping }}</li>
    {% endfor %}
    </ul>

{% endblock %}
