{% extends "orders/base.html" %}

{% block title %}
    Menu 
{% endblock %}

{% block body %}
    <h1 style="padding-left:15%">Menu</h1>

    {% for foodkind in menu %}
    <h2>{{ foodkind.name }}</h2>
    <table class="mytable">
        <tr>
            <th></th>
            {% for column in foodkind.columns %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for row in foodkind.body %}
            <tr>
            {% for item in row %}
                <td>{{ item }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {% endfor %}

    <h2>Toppings</h2>
    <ul>
    {% for topping in toppings %}
        <li>{{ topping }}</li>
    {% endfor %}
    </ul>

{% endblock %}
