{% extends "orders/base.html" %}

{% block title %}
    Menu 
{% endblock %}

{% block body %}
    <h1 style="padding-left:15%">Menu</h1>

    {% for foodkind in kinds %}
        <h2>{{ foodkind|title }}</h2>
        <table class="mytable">
            <tr>
                <th></th>
                {% for column_element in foodkind.name_list.first.size_list.all %}
                    <th>{{ column_element.size }}</th>
                {% endfor %}
            </tr>
            {% for row in foodkind.name_list.all %}
                <tr>
                    <th>{{ row.name }}</th>
                    {% for size in name.size_list.all %}
                        <td>
                            <a href="{% url 'item_info' row.element.first.id %}">
                                {{ row.element.first.price }}
                            </a>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

    <h2>Toppings</h2>
    <ul>
    {% for topping in toppings %}
        <li>{{ topping }}</li>
    {% endfor %}
    </ul>

{% endblock %}
